{% extends 'base.html' %}

{% block title %}
    owners
{% endblock %}

{% block content %}
    <h1 class="text-center text-white">All Owners</h1>
    {% for owner in owners %}
        <a href="/owner/{{ owner.id }}" class="text-decoration-none">
            <div class="alert alert-info">
                <h4>
                    Name: {{ owner.name }}.
                    Age: {{ owner.age }}.
                    City: {{ owner.city }}
                    Date: {{ owner.date.date() }}
                </h4>
            </div>
        </a>
    {% endfor %}
{% endblock %}
